.boxOne{
-fx-background-color:red;
}
.boxTwo{
-fx-background-color:green;
}
.boxThree{
-fx-background-color:yellow;
}
.boxFour{
-fx-background-color:blue;
}
.boxFive{
-fx-background-color:orange;
}
.boxSix{
-fx-background-color:grey;
}
.boxSeven{
-fx-background-color:violet;
}
.boxEight{
-fx-background-color:pink;
}
.boxNine{
-fx-background-color:indigo;
}